.hero {
  background-color: #001f4d; /* dark blue */
  color: white;
  padding: 50px 20px;

}

.hero {
  display: flex;          /* text and image side by side */
  align-items: center;    /* vertical alignment */
  gap: 5px;              /* space between image and text */
}

.hero img {
  width: 150px;           /* size of the circle */
  height: 150px;
  border-radius: 50%;     /* makes it circular */
  object-fit: cover;      /* keeps image from stretching */
}




