.hero {
  background-color: #001f4d; /* dark blue */
  color: white;
  padding: 40px 20px;

}

.hero h1 {
  text-align: left;
  margin: 0;
}

.hero {
  display: flex;          /* text and image side by side */
  align-items: center;/* vertical alignment */
  justify-content: flex-start;       
}

.hero img {
  width: 150px;           /* size of the circle */
  height: 150px;
  border-radius: 20%;     /* makes it circular */
  object-fit: cover;      /* keeps image from stretching */
  
}
  



